

.toolbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: tomato;
  justify-content: space-between;
}

.toolbar__item {
  height: auto;
  width: auto;
  padding: .5rem;
  flex: 1 1 auto;
  justify-content: center;
  text-align: center;
}


.toolbar-window {
}

@keyframes slideinbottom {

  from {
    top: 0;
  }

  to {
    top: -1vh;
  }
}

@keyframes slideoutbottom {

  from {
    margin-top: 0; 
  }

  to {
    margin-top: 100%;
  }
}