@font-face {
  font-family: 'TexasTango';
  src: local('TexasTango'), url(./texas_tango/texas_tango.otf) format('opentype');
}

@font-face {
  font-family: 'WesternBangBang';
  src: local('WesternBangBang'), url(./western_bang_bang/western_bang_bang.otf) format('opentype');
}